<div class="content py-4">
  <div class="center-content">
    <mat-card class="example-card">
      <mat-card-header>
        <img 
          mat-card-avatar 
          src="{{ sequenceData.imgUrl }}" 
          class="header-avatar"
        >
        <mat-card-title>{{ sequenceData.organism }}</mat-card-title>
        <mat-card-subtitle>{{ sequenceData.identifier }}</mat-card-subtitle>
      </mat-card-header>
      <img
        mat-card-image
        src="{{ sequenceData.imgUrl }}"
        alt="{{ sequenceData.identifier }} image"
      />
      <mat-card-content>
        <hr>
        <p class="text-center fs-6">
          Descripción
        </p>
        <hr>
        <p>
          {{ sequenceData.description }}
        </p>
        <hr>
        <p class="text-center fs-6">
          Secuencia
        </p>
        <hr>
        <p class="overflow-auto">
          {{ sequenceData.sequence }}
        </p>
      </mat-card-content>
      <mat-card-actions>
        <button mat-button (click)="goBack()">Volver</button>
      </mat-card-actions>
    </mat-card>  
  </div>
</div>
