<div class="content py-4">
  <mat-card class="example-card">
    <mat-card-header>
      <mat-card-title>Ingrese/Cargue la secuencia</mat-card-title>
      <mat-card-subtitle
        >Solo seran validos archivos .fasta con GI</mat-card-subtitle
      >

      <section class="example-section">
        <mat-radio-group [(ngModel)]="this.isChargingFile">
          <mat-radio-button
            class="example-margin"
            (click)="this.isChargingFile = false"
            [value]="false"
            >Registrar Secuencia</mat-radio-button
          >
          <br />
          <mat-radio-button
            class="example-margin"
            (click)="this.isChargingFile = true"
            [value]="true"
            >Cargar FASTA</mat-radio-button
          >
        </mat-radio-group>
      </section>
    </mat-card-header>
    <mat-card-content>
      <mat-form-field appearance="fill" class="w-100">
        <mat-label>Organismo</mat-label>
        <input matInput [(ngModel)]="this.sequenceToAlign.organism" />
      </mat-form-field>

      <div class="mb-3" *ngIf="this.isChargingFile">
        <div class="input-group">
          <label for="upload-fasta"></label>
          <input
            type="file"
            class="form-control"
            id="upload-fasta"
            aria-label="Upload"
            (change)="uploadFasta($event)"
            accept=".fasta"
          />
        </div>
      </div>

      <div *ngIf="this.isChargingFile == false">
        <mat-form-field appearance="fill" class="w-100">
          <mat-label>Secuencia</mat-label>
          <textarea
            matInput
            required
            [(ngModel)]="this.sequenceToAlign.sequence"
            pattern="{{this.regularExpression}}"
          ></textarea>
        </mat-form-field>
      </div>

      <mat-accordion>
        <mat-expansion-panel hideToggle>
          <mat-expansion-panel-header>
            <mat-panel-title> Comparar con la base </mat-panel-title>
          </mat-expansion-panel-header>

          <section class="example-section mb-2">
            <mat-radio-group [(ngModel)]="this.selectAlignment">
              <mat-radio-button
                class="example-margin"
                (click)="this.selectAlignmentType('GlobalWithBase')"
                [value]="'GlobalWithBase'"
                >Alineamiento Global</mat-radio-button
              >
              <br />
              <mat-radio-button
                class="example-margin"
                (click)="this.selectAlignmentType('LocalWithBase')"
                [value]="'LocalWithBase'"
                >Alineamiento Local</mat-radio-button
              >
            </mat-radio-group>
          </section>
          <div *ngIf="this.showLocalWithBase">
            <p class="fs-6 mt-3">
              Digite los rangos iniciales y finales para el alineamiento local
            </p>
            <mat-form-field class="example-full-width" appearance="fill">
              <mat-label>X1</mat-label>
              <input
                type="number"
                matInput
                placeholder="0"
                value="0"
                min="0"
                max="60"
                [(ngModel)]="this.entryHeaders.x1"
              />
            </mat-form-field>
            <mat-form-field class="example-full-width" appearance="fill">
              <mat-label>X2</mat-label>
              <input
                type="number"
                matInput
                placeholder="0"
                value="0"
                min="0"
                max="60"
                [(ngModel)]="this.entryHeaders.x2"
              />
            </mat-form-field>
            <mat-form-field class="example-full-width" appearance="fill">
              <mat-label>y1</mat-label>
              <input
                type="number"
                matInput
                placeholder="0"
                value="0"
                min="0"
                max="60"
                [(ngModel)]="this.entryHeaders.y1"
              />
            </mat-form-field>
            <mat-form-field class="example-full-width" appearance="fill">
              <mat-label>y2</mat-label>
              <input
                type="number"
                matInput
                placeholder="0"
                value="0"
                min="0"
                max="60"
                [(ngModel)]="this.entryHeaders.y2"
              />
            </mat-form-field>
          </div>

          <button
            (click)="this.startAlignment()"
            class="button"
            mat-raised-button
          >
            Alinear Secuencias!
          </button>
        </mat-expansion-panel>
        <mat-expansion-panel
          (opened)="panelOpenState = true"
          (closed)="panelOpenState = false"
        >
          <mat-expansion-panel-header>
            <mat-panel-title> Comparar con una secuencia </mat-panel-title>
          </mat-expansion-panel-header>

          <section class="example-section mb-2">
            <mat-radio-group [(ngModel)]="this.selectAlignment">
              <mat-radio-button
                class="example-margin"
                (click)="this.selectAlignmentType('Global')"
                [value]="'Global'"
                >Alineamiento Global</mat-radio-button
              >
              <br />
              <mat-radio-button
                class="example-margin"
                (click)="this.selectAlignmentType('Local')"
                [value]="'Local'"
                >Alineamiento Local</mat-radio-button
              >
              <br />
              <mat-radio-button
                class="example-margin"
                (click)="this.selectAlignmentType('DotPlot')"
                [value]="'DotPlot'"
                >Dot Plot</mat-radio-button
              >
              <br />
              <mat-radio-button
                class="example-margin"
                (click)="this.selectAlignmentType('NeedlemanAndWunsch')"
                [value]="'NeedlemanAndWunsch'"
                >Needleman and Wunsch</mat-radio-button
              >                            
            </mat-radio-group>
          </section>

          <div>
            <mat-form-field appearance="fill">
              <mat-label>Seleccionar la secuencia</mat-label>
              <mat-select 
              [(ngModel)]="this.identifier">
                <mat-option
                  *ngFor="let sequence of sequences"
                  [value]="sequence.identifier"
                >
                  {{ sequence.organism }}
                </mat-option>
              </mat-select>
            </mat-form-field>
          </div>


          <div *ngIf="this.showOptionsNeedleman">
            <p class="fs-6 mt-3">
              Digite el valor de los gaps, las coincidencias y las diferencias.
            </p>
            <mat-form-field class="example-full-width" appearance="fill">
              <mat-label><b>A</b> - <b>-</b></mat-label>
              <input
                type="number"
                matInput
                placeholder="0"
                value="0"
                [(ngModel)]="this.sequenceToAlign.gaps"
              />
            </mat-form-field>
            <mat-form-field class="example-full-width" appearance="fill">
              <mat-label><b>A</b> - <b>A</b></mat-label>
              <input
                type="number"
                matInput
                placeholder="0"
                value="0"
                [(ngModel)]="this.sequenceToAlign.coincidence"
              />
            </mat-form-field>
            <mat-form-field class="example-full-width" appearance="fill">
              <mat-label><b>A</b> - <b>T</b></mat-label>
              <input
                type="number"
                matInput
                placeholder="0"
                value="0"
                [(ngModel)]="this.sequenceToAlign.difference"
              />
            </mat-form-field>
          </div>


          <div *ngIf="this.showLocal">
            <p class="fs-6 mt-3">
              Digite los rangos iniciales y finales para el alineamiento local
            </p>
            <mat-form-field class="example-full-width" appearance="fill">
              <mat-label>X1</mat-label>
              <input
                type="number"
                matInput
                placeholder="0"
                value="0"
                min="0"
                max="60"
                [(ngModel)]="this.entryHeaders.x1"
              />
            </mat-form-field>
            <mat-form-field class="example-full-width" appearance="fill">
              <mat-label>X2</mat-label>
              <input
                type="number"
                matInput
                placeholder="0"
                value="0"
                min="0"
                max="60"
                [(ngModel)]="this.entryHeaders.x2"
              />
            </mat-form-field>
            <mat-form-field class="example-full-width" appearance="fill">
              <mat-label>y1</mat-label>
              <input
                type="number"
                matInput
                placeholder="0"
                value="0"
                min="0"
                max="60"
                [(ngModel)]="this.entryHeaders.y1"
              />
            </mat-form-field>
            <mat-form-field class="example-full-width" appearance="fill">
              <mat-label>y2</mat-label>
              <input
                type="number"
                matInput
                placeholder="0"
                value="0"
                min="0"
                max="60"
                [(ngModel)]="this.entryHeaders.y2"
              />
            </mat-form-field>
          </div>
          <button
            (click)="this.startAlignmentWithOneSequence()"
            class="button"
            mat-raised-button
          >
            Alinear Secuencias!
          </button>
        </mat-expansion-panel>
      </mat-accordion>
    </mat-card-content>
    <mat-card-actions> </mat-card-actions>
  </mat-card>

  <div *ngIf="this.showResults">
    <mat-accordion>
      <mat-expansion-panel hideToggle *ngFor="let sequence of resultSequences">
        <mat-expansion-panel-header>
          <mat-panel-title>
            {{ sequence.organism }}
          </mat-panel-title>
          <p><b>Score:</b> {{ sequence.score }}</p>
        </mat-expansion-panel-header>
        <div class="overflow-auto">
          <p *ngIf="sequence.sameSize">
            Porcentaje de Similitud:
            {{
              ((sequence.score * 100) / sequence.sequence.length).toFixed(1)
            }}%
          </p>
          <table class="table">
            <tbody>
              <tr>
                <th scope="row">
                  {{
                    !this.sequenceToAlign.organism
                      ? "Organismo Ingresado"
                      : this.sequenceToAlign.organism.split(" ")[0] +
                        " " +
                        this.sequenceToAlign.organism.split(" ")[1]
                  }}
                </th>
                <td *ngFor="let item of this.originSequenceToPrint">
                  {{ item }}
                </td>
              </tr>
              <tr>
                <th scope="row">
                  <br />
                </th>
                <td
                  *ngFor="let item of sequence.alignment"
                  [ngClass]="item == 0 ? 'table-danger' : 'table-info'"
                ></td>
              </tr>
              <tr>
                <th scope="row">
                  {{ sequence.organism.split(" ")[0] }}
                  {{ sequence.organism.split(" ")[1] }}
                </th>
                <td *ngFor="let item of sequence.sequence">
                  {{ item }}
                </td>
              </tr>
            </tbody>
          </table>
        </div>
      </mat-expansion-panel>
    </mat-accordion>
  </div>
</div>

<div *ngIf="this.showResultsNeedleman" class="overflow-auto">
  <div class="overflow-auto">
    <p>
      <b>Score: </b>{{this.resultsNeedleman.score}}
    </p>
    <br />
    <p>
      <b>Size: </b>{{this.resultsNeedleman.traceBack[0].size}}
    </p>
    <table class="table">
      <tbody>
        <tr>
          <th scope="row">
            {{
              !this.resultsNeedleman.traceBack[0].organism
                ? "Organismo Ingresado"
                : this.resultsNeedleman.traceBack[0].organism.split(" ")[0]
            }}
          </th>
          <td *ngFor="let item of this.resultsNeedleman.traceBack[0].sequence.split('')">
            {{ item }}
          </td>
        </tr>
        <tr>
          <th scope="row">
            <br />
          </th>
          <td
            *ngFor="let item of this.resultsNeedleman.traceBack[0].sequence.split(''); let i = index"
            [ngClass]="this.resultsNeedleman.traceBack[0].sequence[i] != this.resultsNeedleman.traceBack[1].sequence[i] 
            ? 'table-danger' 
            : 'table-info'"
          > 1</td>
        </tr>
        <tr>
          <th scope="row">
            {{ this.resultsNeedleman.traceBack[1].organism.split(" ")[0] }}
          </th>
          <td *ngFor="let item of this.resultsNeedleman.traceBack[1].sequence.split('')">
            {{ item }}
          </td>
        </tr>
      </tbody>
    </table>
    <p>
      <b>Size: </b>{{this.resultsNeedleman.traceBack[1].size}}
    </p>
  </div>

  <table class="table table-striped overflow-auto">
    <tbody class="overflow-auto">
      <tr *ngFor="let rows of this.resultsNeedleman.matrix; let i = index;">
        <td 
          *ngFor="let fields of rows; let j = index;"
          scope="col"
          [ngClass]="{ 'table-warning': this.validatePositions(i, j) , 'fw-bold': i == 0 || j == 0}"
        >
          {{fields}}
        </td>
      </tr>
    </tbody>
  </table>
</div>
<div class="content overflow-auto" *ngIf="showResultsDotplot">
  <div>
    <p class="fs-5"><b>Información Secuencia de entrada (Superior):</b></p>
    <p class="fs-6">Organismo: {{resultsDotPlot.info[0].organism}}</p>
    <p class="fs-6">Longitud Secuencia: {{resultsDotPlot.info[0].size}}</p>
  </div>
  <div>
    <p class="fs-5"><b>Información Secuencia de la base de datos (izquierda):</b></p>
    <p class="fs-6">Organismo: {{resultsDotPlot.info[1].organism}}</p>
    <p class="fs-6">Longitud Secuencia: {{resultsDotPlot.info[1].size}}</p>
  </div>
  <table class="table table-borderless">
    <tbody class="table-group-divider">
      <tr *ngFor="let fila of resultsDotPlot.matrix; let i = index">
        <td 
          *ngFor="let field of fila; let j = index"
          [ngClass]="{'fw-bold': i == 0 || j == 0, 'border-end': j == 0, 'border-bottom': i == 0}"
        >
          {{field}}
        </td>
      </tr>
    </tbody>
  </table>
</div>