<div class="content py-4">
  <mat-card class="example-card">
    <mat-card-header>
      <mat-card-title>Registrar Sequencia</mat-card-title>
      <mat-card-subtitle>Seleccione el tipo de registro</mat-card-subtitle>
    </mat-card-header>
    <mat-card-content>
      <div *ngIf="this.isChargingFile">
        <div class="input-group">
          <label for="upload-fasta"></label>
          <input
            type="file"
            class="form-control"
            id="upload-fasta"
            aria-label="Upload"
            (change)="uploadFasta($event)"
            accept=".fasta"
          />
        </div>
      </div>
      <div *ngIf="this.isChargingFile == false">
        <mat-form-field appearance="fill" class="w-100">
          <mat-label>Organismo</mat-label>
          <input matInput [(ngModel)]="registerSequence.sequence" />
        </mat-form-field>

        <mat-form-field appearance="fill" class="w-100">
          <mat-label>Secuencia</mat-label>
          <textarea
            matInput
            required
            [(ngModel)]="registerSequence.sequence"
          ></textarea>
        </mat-form-field>

        <mat-form-field appearance="fill" class="w-100">
          <mat-label>Descripción</mat-label>
          <textarea
            matInput
            required
            [(ngModel)]="registerSequence.description"
          ></textarea>
        </mat-form-field>

        <div class="img-sequence">
          <img
            *ngIf="this.registerSequence.imgUrl != ''"
            class="m-3 rounded mx-auto d-block"
            width="150px"
            [src]="this.sequenceImg"
          />
        </div>

        <div class="input-group">
          <input
            type="file"
            class="form-control"
            id="upload"
            aria-label="Upload"
            (change)="uploadImg($event)"
            accept="image/*"
          />
        </div>
      </div>
    </mat-card-content>
    <mat-card-actions>
      <button (click)="createSequenceAsync()" class="button" mat-raised-button>
        Crear
      </button>
    </mat-card-actions>
  </mat-card>
</div>
